[SddmGreeterTheme]
Name=Samaritan
Description=Samaritan UI styled sddm theme.
Author=Omer
Version=1.0
MainScript=Main.qml
Theme-Id=samaritan
QtVersion=6

# replace dark.conf with light.conf for light mode
ConfigFile=presets/dark.conf


